
/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: rgb(16, 49, 133);

}
.right-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.left-links {
    font-weight: 900;
    font-size: large;
}

/* FIRST SECTION */

.division-1 {
    background-color: grey;   
}

.section-1 {
    display: flex;
    background-color: grey;
    height: 40vh;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-left: auto
}

.section-1 .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-1 .right {
    flex-shrink: 0%;
    width: 50%;
    display: flex;
    margin-left: auto;
}

.title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.section-1 button {
    border: none;
}





/*SECTION TWO*/

.section-2 {
    background-color: white;
    color: black;
    height: 35vh;
    display: flex;
    justify-content: center;
}

.card { 
    border: 3px solid rgb(35, 34, 34);
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* THIRD SECTION */
.section-3 {
    background-color: grey;
    color: black;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOURTH SECTION */

.section-4 {
    background-color: rgb(21, 40, 89);
    color: white;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 16px;
     margin: 16px;
     width: 300px;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #eee;
    color: darkmagenta;
    padding: 2em;
}

ul {
    list-style: none;
    word-spacing: 5px;
}

a {
    color: #666;
    text-decoration: none;
    color: white;
  }

  body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
  }